# RPC: paste your Helius API key (from aibo-app or Helius dashboard) to avoid 403 from public Solana RPC

NEXT_PUBLIC_MAINNET_RPC_URL=https://mainnet.helius-rpc.com/?api-key=b4764632-a10a-4b49-9153-c4aac9aeae60
NEXT_PUBLIC_DEVNET_RPC_URL=https://devnet.helius-rpc.com/?api-key=b4764632-a10a-4b49-9153-c4aac9aeae60
NEXT_PUBLIC_JUPITER_API_KEY=f653eb33-ede5-4ad3-85cb-29e280838941
NEXT_PUBLIC_TOKEN_ADDRESS=6VHXipL9pSV5MCYuB9tMR4xkwojhc1gQ51ku2GR7pump
LAUNCH_SPONSOR_PRIVATE_KEY=4uB28bYE2KYeiwvU4siNjprA2P8NmMG8TjKMvQRSjLQcycJAk7hjhWzKxxKHDf49jv6RXeWJvgcH3JVXesMq589u


NEXT_PUBLIC_PERCOLATOR_PROGRAM_ID_LARGE=DjzPBuHKehcL24WGdx6zBJLXAAiTwH2EopbGgrJd9Zfp

# Percolator devnet: set after deploying each tier (see percolator-prog/scripts/build-all-tiers.sh)
NEXT_PUBLIC_PERCOLATOR_PROGRAM_ID_SMALL=6Ft8yLSV6TTd6hqYpq2BKfvXLS9tdWS7XKRngZZrL3gH
NEXT_PUBLIC_PERCOLATOR_PROGRAM_ID_MEDIUM=KyxRTTCRECZn5BPCS7zH1Nu9n4f9Rqbg5mLDiLXUMYA

NEXT_PUBLIC_SLAB_BYTES_SMALL=62856
NEXT_PUBLIC_SLAB_BYTES_MEDIUM=248808
NEXT_PUBLIC_SLAB_BYTES_LARGE=992616

